*,
*:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




h1 {
    font-size: 2.5rem;
    font-family: inter;
    font-weight: bold;
    color: #3a3a3a;
}

h2 {
    font-size: 30px;
    font-family: inter;
    font-weight: bold;
    color: #3a3a3a;
}

h3 {
    font-size: 20px;
    font-family: inter;
    font-weight: bold;
    color: #3a3a3a;
}

h4 {
    font-size: 16px;
    font-family: inter;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 32px;
}

h5 {
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    color: #3a3a3a;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    color: #ffffff;
}

nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
   
}

.nav_container {
    height: 100%;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_items a {
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    font-weight: 400;
    color: #3a3a3a;
    margin-left: 16px;
    transition: 0.3s;
}

.navigation_items a:hover {
    color: #FFC53D;
   
}

.navigation_items a:nth-last-child(1) {
    color: #3a3a3a;
    background-color: #fafafa;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}


.navigation_items a:nth-last-child(1):hover {
    box-shadow: inset 0px 0px 0px 1px #FFC53D;
    box-sizing: border-box; 
    background-color: white;
    color: #FFC53D;
    transition: 0.3s;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.logo img {
    width: 36px;
    margin-right: 12px;
}

.burger {
    
    display: none;
  
    width: 40px;
    height: auto;
    
    cursor: pointer;
    padding: 8px;
}

.burger_menu {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.burger_menu_wrapper {
    display: none;
}

.burger_menu li {
    list-style: none;
   
    padding: 0 5%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
}

.burger_menu li a {
    text-decoration: none;
    font-size: 24px;
    font-family: inter;
    font-weight: 400;
    color: #3a3a3a;
   padding: 10px 10px;
   width: 100%;
 
   margin: 10px 0;
   border-bottom: 1px solid #dadada;
  
}



.bar {
 
    transition:0.4s;
   
 }
 
 
 
 .bar-1 {
  
   
  
    margin-top: -4px;
  
  
 
   cursor:pointer;
   transition:0.4s;
 }
 
 
 
  .bar-2 {     


   margin-top: -8px;
 
   transition:0.4s;
   }
 
 
    .bar-3 {  
 
        margin-top: -8px;
  

 
   
   transition:0.4s;
 
   }
 
 
 .change .bar-1 {
 
 -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
 }
 
 .change .bar-2 {opacity:0;}
 
 .change .bar-3 {
     -webkit-transform: rotate(45deg) translate(-5px, 9px);
     transform: rotate(45deg) translate(-5px, -9px);
 }
 
 
 
 
 
 
 
 
 
.video_container {
    position: relative;
    max-height: 100vh;
    background-color:black;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
  

#myVideo {

    margin-top: 50px;
    
    width: 100%;
  
    
}
.slogan {
    text-align: center;
    width: 65%;
    font-size: 3vw;
    font-family: inter;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.what_is_phantribe_container {
    
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.what_is_phantribe {
    width: 950px;
    height: 900px;
   
    display: flex;
    justify-content: center;
  
}

.what_is_phantribe_text {
    margin: auto 0;
width: 60%;
height: auto;

margin-right: 50px;
}

.what_is_phantribe_image {

    width: 40%;
    height: 100%;
   
    
}

.what_is_phantribe_image img {
    
    height: 100%;
   
}

.lighthouse_container   {
    padding: 50px 0 0 0;
    height: auto;
    width: 100%;
    background-color:#FAFAFA;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.lighthouse {
    width: 950px;
    height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.lighthouse_text    {
   
    height: auto;
    width: 100%;
    margin-bottom: 80px;
}

.lighthouse_events_container {
    align-self: center;
   
   
    height: 400px;
    width: 950px;
    display: flex;
    justify-content: space-between;
}

.lighthouse_event {
    cursor: pointer;
    border-radius: 16px;
   
    height: 400px;
    width: 300px;
    
    position: relative;
    
    
}

.lighthouse_event_img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 16px;
    object-fit: cover;
           
          
        }
        
        .lighthouse_event_img img {
            width: 100%;
            height: 100%;
        }

.lighthouse_icon {
    position: absolute;
    width: 60px;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}

.lighthouse_event_bg {
    z-index: 2;
    border-radius: 16px;
    padding: 80px 30px 20px 30px;
   
    display: none;
   
    height: 100%;
    width: 100%;
    opacity: 0.8;
    text-align: center;
    
    
}


.lighthouse_event_bg1 {
   
    background-color:#8CAC32;
   
    
}

.lighthouse_event_bg2 {
  
    background-color: #406283;

}

.lighthouse_event_bg3 {

    background-color: #0D584F;
   
}

.lighthouse_event_text {
    margin: auto 0;
    font-size: 30px;
    font-family: inter;
    font-weight: bold;
    color: #ffffff;
}
.lighthouse_event_text1 {
    
    display: none;
}

.lighthouse_event_text2 {
    display: none;
}

.lighthouse_event_text3 {
    display: none;
}


.white_line{
    margin: 0 auto;
    height: 2px;
    width: 40%;
    background-color: white;
}

.slider_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FAFAFA;
    padding: 50px 0;
    
}
.slider{
width: 970px;
height: auto;
background-color: #fafafa;





}



.slick-track {
    height: auto;
   
    
}


.slide {
    margin: 0 10px;
    border-radius: 16px;
    width: 100%;
 
    background-color: white;
  
    
  
}

.slidewrap {
    padding: 20px 40px;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide_text {
    margin-top: 16px;
    width: 100%;
    
}

.slide_img {
    position: relative;
   
    height: 50%;
    
    object-fit: fill;
    display: flex;
    justify-content: center;
 
}

.slide_img img {
   
    width: auto;
   height: 100%;
  
}

.watch_video {
   padding: 10px 0;
    background-color: #E77258;
    color: white;
    border-radius: 16px;
    width: 140px;
    text-align: center;
    font-size: 16px;
    font-family: inter;
    font-weight: 400;
    color: #ffffff;
}



.slick-arrow {
    cursor: pointer;
    height: 80px;
    width: 80px;
    overflow: hidden;
    background-color: #fafafa;

}

.slick-prev:hover {
    
    left: -95px;
    height: 90px;
    width: 90px;

}

.slick-next:hover {
    
    right: -95px;
    height: 90px;
    width: 90px;
}

.slick-prev {
    z-index: 10;
    position: absolute;
    top: -44px;
    bottom: 0;
    margin: auto 0;
    left: -85px;
    background-image: url(images/arrowleft.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.2s ease-in-out; 
    background-color: #fafafa;
}

.slick-next {
    z-index: 10;
    position: absolute;
    right: -85px;
    top: -44px;
    bottom: 0;
    margin: auto 0;
    background-image: url(images/arrowright.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.2s ease-in-out; 
    background-color: #fafafa;
}


.slick-dots {
    
	display: flex;
	justify-content: center;
    align-items: center;
	margin: 10px 0 0 0;
	padding: 1rem 0;
	height: 12px;
	list-style-type: none;
}
li {
			margin: 0 0.25rem;
           
		}
	
		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			cursor: pointer;
			border: none;
			border-radius: 100%;
			background-color: It #dadada;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
            transition:0.4s;
			background-color: #3a3a3a;
            width: 12px;
			height: 12px;
		}


        .clubs_container {
            padding: 100px 0;
            width: 100%;
            height: auto;
            background-color: white;
            display: flex;
            justify-content: center;
            
        }
        
        .clubs {
            width: 950px;
            height: auto;
           
            display: flex;
            
        }

        .clubs_img {
       
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            object-fit: contain;

        }

        .clubs_img img {
            width: 100%;
            
        }

        .clubs_text {
           margin: auto 0;
           padding-left: 80px;
            height: auto;
            
            width: 60%;
           

        }

        .clubs_icons {
display: flex;
        }

        .clubs_icons img {
            width: 60px;
            margin-right: 10px;
        }


.features_container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
   
    
  
  
}
.backgroundimg {
    padding: 50px 0;
    width: 100%;

    height: 100%;
   background-image: url(images/BackgroundHori.png);
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_text{
    font-size: 2.5rem;
    font-family: inter;
    font-weight: bold;
    color: white;
}
.features {
    width: 950px;
    height: auto;
   text-align: center;
}


.features_box_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.feature_box{
    border-radius: 16px;
    margin: 15px 0;
    height: 224px;
    width: 300px;
    background-color: white;
    padding: 20px 30px;
    border: solid 2px #fafafa;
    transition: 0.2s ease-in-out;
}




.icon_wrapper {
    position: relative;
    border-radius: 100px;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon_wrapper img {
    width: 30px;
}

.icon_tribe{
    background-color: #FBE6E1;
}

.icon_events{
    background-color: #EAF0DA;
}

.icon_challenges{
    background-color: #D9DFE6;
}

.icon_activity{
    background-color: #FCF2DB;
}

.icon_phanspective{
    background-color: #D3E1DF;
}

.icon_tracking{
    background-color: #FBE6E1;
}


.feature_icon {
    
    transition: 0.2s ease-in-out;
    transform-origin: center center;

}

.feature_box:nth-child(1):hover{
    border: solid 2px #CBDAA3;
}


.feature_box:nth-child(1):hover .feature_icon_tribe {
    scale: 1.1;
}

.feature_box:nth-child(2):hover{
    border: solid 2px #9FB1C1;
   
}


.feature_box:nth-child(2):hover .feature_icon_events {
    scale: 1.1;
}


.feature_box:nth-child(3):hover{
    
    border: solid 2px #F4BFB4;
}


.feature_box:nth-child(3):hover .feature_icon_challenges {
    scale: 1.1;
}


.feature_box:nth-child(4):hover{
    border: solid 2px #F9DFA4;
}


.feature_box:nth-child(4):hover .feature_icon_activity {
    scale: 1.1;
}


.feature_box:nth-child(5):hover{
    border: solid 2px #92B4B0;
}


.feature_box:nth-child(5):hover .feature_icon_phanspective {
    scale: 1.1;
}


.feature_box:nth-child(6):hover{
    border: solid 2px #F4BFB4;
}


.feature_box:nth-child(6):hover .feature_icon_tracking {
    scale: 1.1;
}




.feature_text {
    margin-top: 8px;
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    color: #3a3a3a;
}


.content_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.content {
    width: 950px;
    height: auto;
    background-color: white;
    display: flex;
}

.content_text {
    width: 60%;
    padding-right: 80px;
    margin: auto 0;

}

.content_img {
    width: 40%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.content_img img {
 
   width: 100%;
   height: 280px;
  
}



.phanspective_container {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    
    }

    .phanslider_container {
        width: 990px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }
    
    .phanspective_slider{
        
        width: 100%;
        height: auto;
        background-color: #fafafa;
        position: relative;
       
    
        
        }


        .phanslide {
           
            cursor: pointer;
            border-radius: 16px;
            width: 100%;
            height: auto;
      
            z-index: 1;
            margin: 0 20px;
            overflow: hidden;
           
           
        }
        
        .phanslide:hover img {
            transform: scale(1.02);
      
         
        }

.phanslide img {
width: 100%;
height: 100%;
height: auto;
border-radius: 16px;
transition: 0.2s ease-in-out;
}

.phan_module {
    position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: 1000;
    background-color: black;
    object-fit: cover;
    display: none;

}



.module_bg {
    z-index: 999;
    position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: none;
    
}

#PhanVid1 {
 
   width: 100%;
   height: 100%;
  
 
}
#PhanVid2 {
 
    width: 100%;
    height: 100%;
   
  
 }

 #PhanVid3 {
 
    width: 100%;
    height: 100%;
   
  
 }

.choose_us_container {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.choose_us {
    width: 950px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose_us_title {
    text-align: center;
}
.choose_us_box_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    height: auto;
   
    
}

.choose_us_box {
    cursor: pointer;
   width: 300px;
   height: auto;
   background-color: white;
   text-align: center;
   margin: 15px 0;
   border-radius: 16px;
   padding: 20px 30px;
   border: solid 2px #fafafa;
   transition: 0.2s;
}


.icon_wrapper {
    position: relative;
    border-radius: 100px;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon_wrapper img {
    width: 30px;
}

.social_icon{
    background-color: #EAF0DA;
}

.inclusion_icon{
    background-color: #FBE6E1;
}

.content_icon{
    background-color: #FCF2DB;
}

.branding_icon{
    background-color: #D9DFE6;
}

.choose_icons {
    
    transition: 0.2s ease-in-out;
    transform-origin: center center;

}

.choose_us_box:nth-child(1):hover{
    border: solid 2px #EAF0DA;
}


.choose_us_box:nth-child(1):hover .choose_icon_social {
    scale: 1.1;
}

.choose_us_box:nth-child(2):hover{
    border: solid 2px #FBE6E1;
}


.choose_us_box:nth-child(2):hover .choose_icon_inclusion {
    scale: 1.1;
}

.choose_us_box:nth-child(3):hover{
    border: solid 2px #FCF2DB;
}


.choose_us_box:nth-child(3):hover .choose_icon_content {
    scale: 1.1;
}

.choose_us_box:nth-child(4):hover{
    border: solid 2px #D9DFE6;
}


.choose_us_box:nth-child(4):hover .choose_icon_branding {
    scale: 1.1;
}




.choose_text {
    margin-top: 8px;
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    color: #3a3a3a;
}



.contact_us {
    padding: 50px 0;
    width: 100%;
    height: 100%;
    background-color: #406283;
    display: flex;
    flex-direction: column;
  text-align: center;
    align-items: center;
}
.contact_title {
    justify-content: center;
    font-size: 2.5rem;
    font-family: inter;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.contact_title img {
    width: 40px;
    margin-left: 10px;
}

.contact_container {
    width: 950px;
    height: auto;


}

.contact_box {
    border-radius: 16px;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
   
}

.contact_text {
   
    width: 40%;
    text-align: left;
    
}

.vertical_contact_line {
    height: 200px;
    width: 2px;
    background-color: #fafafa;
}

.contact_icons_wrapper {
height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.contact_icons {
   margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    color: #3a3a3a;
    line-height: 32px;
}

.contact_icons img {
width: 40px;
margin-right: 20px;
}


#scroll {
    z-index: 100;
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#FFC53D;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    transition : 0.2s ease-in-out; 
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
    transition : 0.2s ease-in-out; 
    
}
#scroll:hover {
    background-color:white;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    box-shadow: inset 0px 0px 0px 1px #FFC53D;
    box-sizing: border-box; 
    background-color: white;
    color: #FFC53D;
}

#scroll:hover span {
    border-bottom-color:#FFC53D;
}


.yearwheel {
    width: 100%;
    border-radius: 16px;
    border: white solid 2px;
}

@media(max-width:950px) {

nav {

    height: 64px;
    display: inherit;
   
}

.nav_container {
    width: 100%;
}

.logo {
    margin-left: 5%;
    padding-left: 8px;
}

.burger {
    margin-right: 5%;
    display: block;
   
  
}

.bar {
    display: flex;
    flex-direction: column;
   float: right;
}

    .navigation_items {
        display: none;

    }

 
    #myVideo {
        margin-top: 50px
    }

    .what_is_phantribe_container {
        padding: 50px 0 0 0;
    }
    .what_is_phantribe {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 1200px;
    }


    .what_is_phantribe_text {
        margin: 0 auto;
        width: 80%;
        height: auto;
  
        }
        
        .what_is_phantribe_image {

            width: 100%;
            height: auto;
            
            display: flex;
           justify-content: center;
           object-fit: cover;
           overflow: hidden;
            
        }

        .what_is_phantribe_image img {
        margin-left: 30%;
         height: 100%;
        }

        .lighthouse_container   {
            height: auto;
           
        }
        
        .lighthouse{
            width: 80%;
            height: auto;
        }

        .lighthouse_text {
            height: auto;
            margin-bottom: 20px;
        }

        .lighthouse_events_container {
            
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        
        .lighthouse_event {
            margin: 20px 0;
            border-radius: 16px;
           
            height: auto;
            width: 100%;
            overflow: hidden;
            position: static;
            object-fit: none;
            display: flex;
            
           
            
        }

        .lighthouse_event:nth-child(2) {
            flex-direction: row-reverse;
        }

        .lighthouse_event_img {
           
            height: 100%;
            width: 50%;
            position: static;
            left: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            border-radius: 0px;
            object-fit: cover;
           
          
        }
        
        .lighthouse_event_img img {
            width: 100%;
            height: 100%;
        }
        .lighthouse_icon {
            display: none;
        }

        .lighthouse_event_bg {
           
            z-index: 2;
            border-radius: 0px;
           
            display: inherit;
            padding: 30px;
            height: 100%;
            width: 50%;
           
            opacity: 1;
            text-align: center;
           
        }
        
      

        .lighthouse_event_text {
    width: 100%;
            display: initial;
            margin: auto 0;
            
        }
.slider{
    width: calc(80% + 40px);
    
    }
    


    .clubs {
        width: 80%;
        
       
        display: flex;
        flex-direction: column-reverse;
        
    }

    .clubs_text {
       
        margin: auto 0;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .clubs_img {
        margin-top: 50px;
        object-fit: cover;
   width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
       
    }

    .clubs_img img {
        width: 100%;
        height: auto;
        
    }

    

.backgroundimg {
    
    background-image: url(images/BackgroundVer.png);
}


     .features_container {
            width: 100%;
            height: auto;
            
            
          
          
        }


        .features {
            width: 80%;
            height: 100%;
           text-align: center;
        }
        
        
        .features_box_container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
        }

        .feature_box{
            margin: 15px 5px;
       
        }

        .content {
            width: 80%;
           flex-direction: column;
        
        }

        .content_text {
            width: 100%;
            margin: auto 0;
            padding: 0;
        
        }
        
        .content_img {
            margin-top: 50px;
            width: 100%;
     
          
        
        }
         
        .content_img img {
           margin: auto 0;
            width: 100%;
            height: auto;
          
        
        }

     
       
        .phanslider_container {
            width: calc(80% + 40px);
        }


        .choose_us {
            width: 80%;
          
        }

        .choose_us_box_container {
            justify-content: space-evenly;
        }        
        .choose_us_box{
            width: 300px;
            margin: 15px 5px;
       
        }



        .contact_container {
            width: 80%;
          
           
        }

      
.contact_box {
    height: auto;
    flex-direction: column;
    padding: 50px 20px;
}


        .vertical_contact_line {
            width: 200px;
    height: 2px;
    background-color: #fafafa;

    margin: 20px 0;
        }

        .contact_icons_wrapper {
     
                width: 250px;
                
               
            }


.contact_text {
   
    width: 80%;
    text-align: center;
    
}

    

        #scroll:hover {
            z-index: 100;
            position:fixed;
            right:20px;
            bottom:20px;
            cursor:pointer;
            width:50px;
            height:50px;
            background-color:#ffffff;
            text-indent:-9999px;
            display:none;
            -webkit-border-radius:100px;
            -moz-border-radius:100px;
            border-radius:100px;
            transition : 0.2s ease-in-out; 
        }
        #scroll:hover span {
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-8px;
            margin-top:-12px;
            height:0;
            width:0;
            border:8px solid transparent;
            border-bottom-color:#FFC53D;
            transition : 0.2s ease-in-out; 
            
        }



    }

    @media(max-width:580px) {

        .what_is_phantribe {
          
    height: 1600px;
        }

        
        .lighthouse_event {
            border-radius: 16px;
            overflow: visible;
            height: 440px;
            width: 100%;
            background-color: yellow;
            position: relative;
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            

            
            
        }


        .lighthouse_event:nth-child(2) {
            flex-direction: column;
        }

        .lighthouse_event_img {
            height: 30%;
            width: 100%;
            position: initial;
            border-radius: 0px;
            object-fit: cover;
       margin: 0;
            left: 0;
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            border-radius: 16px 16px 0 0;
           
            
                  
                }
.img1, .img2 {
    object-position: 0 -100px;
}

                .img3 {
                    object-position: 0 -30px;
                }


                .lighthouse_event_img img {
                    width: 100%;
                    height: auto;
                    
                }

       
  .lighthouse_event_bg{
    display: inherit;
    height: 70%;
    width: 100%;
    border-radius: 0 0 16px 16px;
    opacity: 1;
   
  }
        
      .lighthouse_event_text {
        display: flex;
        flex-direction: column;
       
      }
.lighthouse_icon {
    display: initial;
    top: calc(30% - 30px)
}


        .lighthouse_event_text {
            font-size: 24px;
          
        }

        .slidewrap {
            padding: 20px 40px;
            height: 700px;
            width: 100%;
            position: relative;
            overflow: hidden;
        }

    }
